@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

li, a {
    list-style: none;
    text-decoration: none;
    color: #000000;
}

body {
    font-family: 'Lato', sans-serif;
}

.menu-header {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
}

nav img {
    width: 20px;
    margin: 5px 0 0 30px;
    cursor: pointer;
}

.banner {
    width: 100%;
}

.product {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
}


/* CARDS */

.container-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1280px;
}

.card {
    padding: 20px 36px;
}

.card-image img {
    width: 250px;
    height: 250px;
}

.card-information {
    margin-top: 20px;
}

.card-information p:nth-child(2) {
    margin-top: 10px;
}

span {
    color: #5CA720;
}

/* FOOTER */

.container-footer {
    border-top: 1px solid #A5A1A1;
    background-color: #F9F9F9;
    padding: 20px 0;
    color: #161616; 
    margin-top: 60px;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
}

.option ul {
    margin-bottom: 24px;
}
.option li{
    margin-bottom: 10px;  
}

.newsletter {
    width: 300px;
    font-weight: bold;
}
.newsletter input {
   margin-top: 10px;
   padding: 10px;
   width: 200px;
   background-color: white;
   box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.164);
}

.newsletter button {
    color: #ffffff;
    font-weight: 700;
    background-color: #5CA720;
    padding: 10px;
}

.informations {
    background-color: #F9F9F9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}

.rede-social img {
    width: 30px;
    margin: 5px 15px 0px 0px;
    cursor: pointer;
    padding: 30px 0;
}

.buy img {
    margin: 5px 0 0 15px;
    cursor: pointer;
    padding: 30px 0;
}

.buy img:nth-child(1) {
    width: 50px;
}

.buy img:nth-child(2) {
    width: 30px;
}

.buy img:nth-child(3) {
    width: 60px;
} 


/* MEDIAS QUERIES */

@media (max-width: 1318px) {
    .menu-header, .product, .container-card, .footer, .informations {
        margin-left: 30px;
        margin-right: 30px;
    }
}
/* 
@media (max-width: 1034px) {
    .menu-header, .product, .container-card, .footer, .informations {
        max-width: 800px;
    }
}

@media (max-width: 888px) {
    .menu-header, .product, .container-card, .footer, .informations {
        margin-left: 30px;
        margin-right: 30px;
    }
} */

@media (max-width: 704px) {
    .card-image img {
        width: 200px;
        height: 200px;
    }

    .footer {
        flex-direction: column;
    }

    .newsletter {
        margin: 40px 0;
        width: 100%;
    }

    .newsletter input, .newsletter button {
        width: 80%;
        font-size: 16px;
        margin-bottom: 20px;
    }  
}