@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

li, a {
    list-style: none;
    text-decoration: none;
    color: #000000;
}

body {
    font-family: 'Lato', sans-serif;
}

.menu-header {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

nav img {
    width: 20px;
    margin: 5px 0 0 30px;
    cursor: pointer;
}

.banner {
    width: 100%;
}

.product {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #A5A1A1;
}

/* CARDS */

.container-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin: auto;
}

.card {
    padding: 20px 40px;
}

.card-image {
    width: 30%;
}
.card-image img {
    width: 250px;
    height: 250px;
}

.card-information {
    margin-top: 20px;
}

.card-information p:nth-child(2) {
    margin-top: 10px;
}

span {
    color: #5CA720;
}

/* FOOTER */

.container-footer {
    border-top: 1px solid #A5A1A1;
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px 0;
    color: #161616;
}

.option li{
    margin-bottom: 10px;  
}

.newsletter {
    width: 300px;
}
.newsletter input {
   margin-top: 10px;
   padding: 10px;
   width: 200px;
}

.newsletter button {
    color: #ffffff;
    font-weight: 700;
    background-color: #5CA720;
    padding: 10px;
    border-radius: 0px 3px 3px 0px;
}

.informations {
    border-top: 1px solid #A5A1A1;
    background-color: #F9F9F9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100px;
}

.rede-social img {
    width: 30px;
    margin: 5px 0 0 15px;
    cursor: pointer;
    padding: 30px 0;
}

.buy img {
    margin: 5px 0 0 15px;
    cursor: pointer;
    padding: 30px 0;
}

.buy img:nth-child(1) {
    width: 50px;
}

.buy img:nth-child(2) {
    width: 30px;
}

.buy img:nth-child(3) {
    width: 60px;
}